*{
    margin:10px;
    margin-bottom: 10px ;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}


#Realisation-acc{
    width: 60%;
    text-align: left;
    
}

td:hover{
    background-color: #D6EEEE;   
}

.Ruppe1 {
    text-align: center;
}